* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#root {
  height: 100vh;
}

code {
  background-color: #3c3c3c;
  padding: 2px 6px;
  border-radius: 3px;
  font-family: 'Menlo', 'Monaco', 'Courier New', monospace;
}
